#offline-wrapper .offline-message p,
#offline-wrapper #offline-title,
#offline-wrapper #offline-title small {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: rgba(36, 108, 123, 0.74);
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1.2px;
}
#offline-wrapper .offline-message {
  border: none;
}
#footer #sub-floor {
  display: none;
}
